.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 0.9;

  & ul {
    display: flex;
  }

  & a {
    color: black;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: $primary-color;
    }
  }

  & .welcome span {
    margin-right: 0.6rem;
  }
}
