/* Mobile Styles */
@media (max-width: 700px) {
    .container {
        margin-top: 8rem;
        z-index: 1;
    }

    /* ---- */
    /*To display the Cue logo and center it in center*/
    .mobile-logo { 
        visibility: visible; 
      }
      
    .mobile-logo img {
        margin: 0;
        position: absolute;
        top: 40%;
        left: 50%;
        width: 80%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    /* ---- */

    .navHead{
        margin: 0rem 0rem 0rem 7.5rem;
    }

    .dark-overlay {
        background: none;
        background-repeat: no-repeat;
    }

    .lead-landing {
        color: black;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        position: absolute;
        bottom: 200px;
        left: 70px;
        text-align: center;
    }

    .hide-sm {
        display: none;
    }

    /* Text Styles */
    .x-large {
        font-size: 3rem;
    }

    .large {
        font-size: 2rem;
    }

    .lead {
        font-size: 1rem;
    }

    /* Navbar */
    .navbar {
        display: block;
        /* text-align: center; */ /*This line messes up the hamburger menu*/
    }

    .navbar ul {
        text-align: center;
        justify-content: center;
    }

    .navbar h1 {
        margin-bottom: 1rem;
    }

    .navbar .welcome {
        display: none;
    }

    .nav .menu-nav {
        display: flex;
        margin: 4rem 0rem 0rem -2rem;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 2rem;
        position: fixed;
        top: 0;
        opacity: 0.9;  
        overflow: hidden;
        list-style-type: none;
        padding-right: 1rem;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    /* Profiles Page */
    .profile {
    grid-template-columns: 1fr;
    text-align: center;
    }

    .profile ul {
    display: none;
    }

    /* Profile Page */

    .profile-top img,
    .profile img {
    width: 200px;
    margin: auto;
    }

    .profile-grid {
    grid-template-areas:
        'top'
        'about'
        'exp'
        'edu'
        'github';
    }

    .profile-about .skills {
    flex-direction: column;
    }

    .dash-buttons a {
    display: block;
    margin-bottom: 0.2rem;
    }

    .post {
    grid-template-columns: 1fr;
    }
    .post a,
    .post button {
    padding: 0.3rem 0.4rem;
    }
}

@media screen and (min-width: 768px) {
    .menu-btn {
        visibility: hidden;
    }

    .navHead{
        visibility: visible;
    }

    .nav {
        visibility: visible;
    }

    .nav .menu-nav {
        display: block;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        background: transparent;
        text-align: right;
    }

    .nav .menu-nav__item {
        display: inline;
        padding-right: 1.5rem;
    }

    .nav .menu-nav__link {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1600px) {

}