.p {
    padding: 0.5rem;

    &-1{
        padding: 1rem;
    }

    &-2{
        padding: 2rem;
    }

    &-3{
        padding: 3rem;
    }

    &y{
        padding: 0.5rem 0;

        &-1{
            padding: 1rem 0;
        }

        &-2{
            padding: 2rem 0;
        }
    
        &-3{
            padding: 3rem 0;
        }
    }
}